.customers {
    &-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-list {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
    &-item {
        padding: 50px;
        border: 1px solid $DARK;
        border-radius: 5px;
        background-color: $BG_COLOR;
        transition: $animation;
        &:hover {
            cursor: pointer;
            background-color: darken($BG_COLOR, 2%);
        }
    }
}
