li.project
    .project_count 1
    .project_code Дима Inc.
    .project_client
    .project_location
    .project_cadastre
    .project_parameters
        span.project_parameters--parameter
        span.project_parameters--parameter
        span.project_parameters--parameter
    .project_price
        span.project_price--num
    .project-stage
    .project_info
