section.console
    .console-header
        button.console_button.button Добавить &nbsp;
            if name == 'index'
                | объект
            else if name == 'clients'
                | организацию
            else if name == 'workers'
                | сотрудника
        button.console_button.button Сохранить
    .console-addProject.view
        include ./addProject
