section.customers
    .customers-container.container
        header.customers-header
            .title_icon
                +sprite('symbol')
            h2.customers_title.title Happy Customer
        main.customers-main
            ul.customers-list
                li.customers-item 1 клиент
                li.customers-item 2 клиент
                li.customers-item 3 клиент
                li.customers-item 4 клиент
                li.customers-item 5 клиент
                li.customers-item 6 клиент
                li.customers-item 7 клиент
                li.customers-item 8 клиент
