nav.nav
    li.nav-item
        a.nav-item--link.link(href="#")
            .nav-item_image
                +sprite('calculation')
            .nav-item_name Расчёт
    li.nav-item
        a.nav-item--link.link(href="#")
            .nav-item_image
                +sprite('statistic')
            .nav-item_name Статистика
    li.nav-item
        a.nav-item--link.link(href="workers.html")
            .nav-item_image
                +sprite('workers')
            .nav-item_name Сотрудники
    li.nav-item
        a.nav-item--link.link(href="clients.html")
            .nav-item_image
                +sprite('clients')
            .nav-item_name Клиенты
