section.products
    .products-container.container
        header.services-header
            .title_icon
                +sprite('symbol')
            h2.customers_title.title Мои услуги
            h3.customers_subtitle.subtitle Курсы разной степени
        main.products-main
            ul.products-list
                li.product
                    .product_image__wrapper
                        img.product_image(src="@images/barber_1.jpg", alt="")
                    main.product-main
                        h3.product_title Начальный Курс
                        h4.product_price 18 000 Р
                        button.product_button.button.button-dark Подробнее
                li.product
                    .product_image__wrapper
                        img.product_image(src="@images/barber_2.jpg", alt="")
                    main.product-main
                        h3.product_title Профессиональный Курс
                        h4.product_price 18 000 Р
                        button.product_button.button.button-dark Подробнее
                li.product
                    .product_image__wrapper
                        img.product_image(src="@images/barber_3.jpg", alt="")
                    main.product-main
                        h3.product_title Полное погружение
                        h4.product_price 18 000 Р
                        button.product_button.button.button-dark Подробнее
