li.project
    .project_count 1
    .project_code ТП-33/1 31/123-22
    .project_client АО «ГГК» Ф-16
    .project_location Краснодарский край, Тимашевский район, п. Заречный, ул. Речная 17
    .project_cadastre 23:43:0310040:225
    .project_parameters
        span.project_parameters--parameter ВД – 300м
        span.project_parameters--parameter НД – 400м
        span.project_parameters--parameter ПРГ - 600м<sup>3</sup>/ч
    .project_price
        span.project_price--num 189 000
        | &nbsp;₽
    .project-stage
        ul.project-stage-steps
            li.project-stage-step.green
            li.project-stage-step.green
            li.project-stage-step.green
            li.project-stage-step.green
            li.project-stage-step.green
            li.project-stage-step.purple
            li.project-stage-step.purple
            li.project-stage-step
            li.project-stage-step
            li.project-stage-step
        .project-stage_name Печать для сдачи 2/8
    .project_info
        .project_attention
            +sprite('attention')
        .project_days
            span.project_days--num 30
            | Д
