section.reviews
    .reviews-container.container
        header.services-header
            .title_icon
                +sprite('symbol')
            h2.customers_title.title Люди после курсов
            h3.customers_subtitle.subtitle Отзывы людей прошедших мои курсы
        main.reviews-main
            ul.reviews-list
                li.review
                    .review_name
                        | Имя: &nbsp;
                        span.review_name--data Шахриёри
                    .review_course
                        | Курс: &nbsp;
                        span.review_course--data Профессиональный курс
                    .review_text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus beatae eius, maxime ullam aperiam autem tempore odit id deleniti quisquam explicabo saepe. Ipsum enim veniam vitae ipsa ducimus debitis id nobis consequuntur. Iure architecto vitae illum totam unde, et dicta reprehenderit, ducimus distinctio vel aliquid debitis blanditiis possimus rem eaque?
                li.review
                    .review_name Шахриёри
                    .review_course Профессиональный курс
                li.review
                    .review_name Шахриёри
                    .review_course Профессиональный курс
                li.review
                    .review_name Шахриёри
                    .review_course Профессиональный курс
