section.services
    .services-container.container
        header.services-header
            .title_icon
                +sprite('symbol')
            h2.customers_title.title Services
            h3.customers_subtitle.subtitle REGONITIONS & ACCOIMPLISHMENTS
        main.services-main
            ul.services-list
                li.services-item
                    .services-item_title Web Design
                    .services-item_text Every single project is a challenge that we accept eagerly. Let’s implement innovative ideas together!
                li.services-item
                    .services-item_title Product Design
                    .services-item_text Every single project is a challenge that we accept eagerly. Let’s implement innovative ideas together!
                li.services-item
                    .services-item_title UI/UX Design
                    .services-item_text Every single project is a challenge that we accept eagerly. Let’s implement innovative ideas together!
                li.services-item
                    .services-item_title Art Direction
                    .services-item_text Every single project is a challenge that we accept eagerly. Let’s implement innovative ideas together!
