section.skills
    .skills__wrapper
        .skills-container.container
            ul.skills-list
                li.skills-lits-item DEVELOPMENT
                li.skills-lits-item STRATEGY
                li.skills-lits-item PRODUCT DESIGN
                li.skills-lits-item MOTION GRAPHIC
                li.skills-lits-item ART DIRECTION
                li.skills-lits-item DESIGN
                li.skills-lits-item BRANDING
                li.skills-lits-item BRANDING
                li.skills-lits-item BRANDING
                li.skills-lits-item BRANDING
