.user
    .user_settings
        a.user-settings--link.link(href="#")
            +sprite('settings')
    .user-data
        .user_photo__wrapper
            img.user_photo(src="@images/photo.png", alt="Рнтров И. И.")
        .user_name Петров И. И.
