section.welcome
    .welcome-container.container
        .welcome-content
            header.welcome-header
                h1.welcome_hello.title
                    | Hi, i'm &nbsp;
                    span.welcome_hello--name Tayler
                    | .
                h2.welcome_work.title A creative designer
                h3.welcome_location.title
                    | Based in &nbsp;
                    span.welcome_location--point London
            footer.welcome-footer
                ul.welcome-skills
                    li.welcome-skills-item Design
                    li.welcome-skills-item Development
                    li.welcome-skills-item Webflow
                .welcome-controls
                    button.welcome_control.button.button-dark Got a project?
                    button.welcome_control.button Let's talk
        .welcome-picture__wrapper
            img.welcome-picture(src="@images/photo.png", alt="")
