extends init/default
append styles

append scripts

block variables
    -
        let
            page_title = 'VS Academy', // Название сайта(отображается на вкладке)
            page_name  = 'index',
            name = 'index';

block content
    include ../components/maps
    include ../components/root

