extends init/default
append styles

append scripts

block variables
    -
        let
            page_title = 'Партнёр', // Название сайта(отображается на вкладке)
            page_name  = 'index',
            name = 'workers';

block content
    #root
        include ../components/maps
        include ../components/header
        main.main
            .main-conatainer.container
                include ../components/console
                include ../components/projects


